.row.justify-content-center
  %img{src: "/logo_black.png", height: 200}
.row.justify-content-center
  %h1 Probably the best online courses website
.row.justify-content-center.my-4
  = link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-outline-success px-5 py-2"
