="Welcome to teach4all, #{@email}"
===============================================
="You were invited to organization, called #{@organization.name}"
 
To go to the site, just follow this link: 
= @url
 
Thanks for joining and have a great day!