= react_component('new_course', 
                  {name: "",
                   save_course_method: "POST",
                   save_course_path: courses_path, 
                   pages: [{title: "", 
                            content: "{\"entityMap\":{},\"blocks\":[{\"key\":\"637gr\",\"text\":\"\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}}]}", 
                            questions: []}]})
    