= render layout: 'dashboard/layout' do
  %h1 Courses from users
  - if @courses_from_users.any?
    = render 'dashboard/search_form', url: dashboard_courses_from_users_path
    .from-users-courses-list
      = render 'from_users_courses_list'
  - else
    .row.justify-content-center
      %h5 No courses from users
